:root {
	/** Primary **/
	--color-primary: #F7AF5D;
	--color-primary-alpha: rgba(255, 214, 168, 0.05);
	--color-primary-accent: #282828;
	--color-primary-accent-alpha: #282828CD;

	/** Secondary **/
	--color-secondary: #282828;
	--color-secondary-alpha: #282828CD;
	--color-secondary-accent: #F6EEE3;
	--color-secondary-accent-alpha: #F6EEE3CD;
	--color-secondary-accent-dark: #ADA4A4;

	/** Grayscale **/
	--color-gray-0-alpha: #ffffff1A;
	--color-gray-0: #ffffff;
	--color-gray-1: #f2f2f2;
	--color-gray-2: #e6e6e6;
	--color-gray-3: #cccccc;
	--color-gray-4: #b3b3b3;
	--color-gray-5: #999999;
	--color-gray-6: #808080;
	--color-gray-7: #666666;
	--color-gray-8: #4d4d4d;
	--color-gray-9: #333333;
	--color-gray-10: #191919;

	/** Semantic **/
	--color-danger: #F49498;
	--color-danger-accent: #841B20;
	--color-danger-alpha: #F494981A;

	--color-success: #6CC785;
	--color-success-accent: #405446;
	--color-success-alpha: #6CC7851A;

	--color-warning: #DEC462;
	--color-warning-accent: #725b02;
	--color-warning-alpha: #DEC4621A;

	/** Shadows **/
	--shadow-base: 0 5px 30px 0 rgba(200, 200, 200, .11), 0 5px 15px 0 rgba(200, 200, 200, .02);
}
